{% extends 'base.html.twig' %}

{% block stylesheets %}
 <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet" />
</style>
{% endblock %}
{% block title %}FakeyMail-Outbox {{app.user.name}}!{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h2 class="title">Outbox</h2>

    {%if messages != null%} 
         <table  cellspacing="20" cellpadding="5" style="border:black 1px solid; width:70%">
            <tr><th>To</th><th>Subject</th> <th> Read</th> <th> Date </th></tr>
            {% for message in messages %}
                <tr><td>{{message.recipient}}</td>
                {% if message.getIsRead() == false %}
                   <td> <b> <a href="#" class="no-deco">  {{message.subject}}</a></b></td>
                   <td> Not read</td>
                   <td> {{message.getCreatedAt()|date("H:i m/d/Y ") }}</td>
                   </tr>
                   
                {% else %}
                    <td><a href="#" class="no-deco"> {{message.subject}}  </a></td>
                    <td> Read</td>
                     <td> {{message.getCreatedAt()|date("H:i m/d/Y ") }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {%else%}
        <h3 class="alert"> No sent messages yet!</h3>
        {%endif%}
    
</div>
{% endblock %}
