{% extends 'base.html.twig' %}

{% block stylesheets %}
 <link href="{{ asset('styles.css') }}" type="text/css" rel="stylesheet" />
</style>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}FakeyMail-Outbox {{app.user.name}}!{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h2 class="title">Outbox</h2>

    {%if messages != null%} 
        <table  cellspacing="20" cellpadding="5" style="border:black 1px solid; width:103%;background:rgba(9, 116, 237, 0.4); margin-left:-1.2em;font-size:1.1em;">        
           <tr><th>To</th><th>Subject</th><th>Date</th></tr>
            {% set i = 0 %}
            {% for message in messages %}
                    <tr><td>{{message.recipient}} <a href={{"/profile?email=#{recipient[i].email}"}}><img src="{{ asset('uploads/'~recipient[i].pfp) }}" style="height:25px;width:25px;border-radius:50%;border:black solid 0.5px;margin-left:5px;"/></a></td>

                    <td> <b>{{message.subject}}</b></td>

                    <td> {{message.getCreatedAt()|date("H:i d/m/Y ") }}</td>
                    {% if message.getIsRead() == false %}
                    <td style="font-weight:bold;color:red:"> Not read</td>
                    {% else %}
                        <td > Read</td>
                    {% endif %}
                    {% if message.getImage() != NULL or message.getFile() != NULL %}
                        <td> <i class="fa fa-paperclip" style="font-size:24px"></i></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><button class="bt"><a href={{"/seeMessage?id=#{message.id}"}} class="no-deco">View  </a></td>
                    </tr>
                {% set i = i + 1 %}
            {% endfor %}
        </table>
    {%else%}
        <h3 class="alert"> No sent messages yet!</h3>
    {%endif%}
    
</div>
{% endblock %}
